.movie-info {
  width: 950px;
  columns: 2;
  margin: 70px auto;
  padding: 15px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;

  &__image {
    width: 80%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
  }

  &__container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 10px;

    &__title {
      font-size: 28px;
      font-weight: bold;
    }
  }
}
