.movie-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__image {
    width: 100%;
    border-radius: 10px;
  }

  &__info {
    margin-left: 5px;
    p {
      line-height: 2px;
    }
    &-title {
      font-size: 16px;
      font-weight: bold;
      margin-top: 10px;
    }
    &-text {
      font-size: 10px;
    }
  }
}
